services:

  nextjs-app:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: Dockerfile-for-prod
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./public:/myapp/public
      - ./app:/myapp/app
